GITHUB_AUTH="GITHUB TOKEN FOR LOADING EXISTING PUBLIC REPO"
HF_TOKEN="TOKEN IS FOR EMBEDDING"
QDRANT_API_KEY="VECTOR DATABASE API KEY"
QDRANT_URL="VECTOR DATABASE URL"
GEMINI_API_KEY="GEMINI API KEY"
